//
//  Executable.xcconfig
//  crouton
//
//  Created by Jens Alfke on 8/25/23.
//

OTHER_LDFLAGS = $(OTHER_LDFLAGS) -lmbedcrypto -lmbedtls -lmbedx509 -luv

LD_GENERATE_MAP_FILE    = YES
LD_MAP_FILE_PATH        = $(CONFIGURATION_BUILD_DIR)/$(PRODUCT_NAME)-LinkMap-$(CURRENT_ARCH).txt

CODE_SIGN_ENTITLEMENTS  = tests/testserver.entitlements
CODE_SIGN_IDENTITY      = Apple Development
CODE_SIGN_STYLE         = Automatic
DEVELOPMENT_TEAM        = N2Q372V7W2

ENABLE_HARDENED_RUNTIME[sdk=macosx*] = YES
PROVISIONING_PROFILE_SPECIFIER =
