//
//  StaticLib.xcconfig
//  Tendril
//
//  Created by Jens Alfke on 8/19/22.
//  Copyright © 2022 Jens Alfke. All rights reserved.
//

CODE_SIGN_STYLE          = Automatic
EXECUTABLE_PREFIX        = lib
SKIP_INSTALL             = YES

SYSTEM_HEADER_SEARCH_PATHS  = $(inherited) vendor/tlsuv/include vendor/tlsuv/deps/uv_link_t/include  vendor/llhttp/include  vendor/mbedtls/include
