//
//  tlsuv.xcconfig
//  coro
//
//  Created by Jens Alfke on 8/22/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "StaticLib.xcconfig"

HEADER_SEARCH_PATHS  = $(inherited)  vendor/tlsuv/src  vendor/tlsuv/deps/uv_link_t
SYSTEM_HEADER_SEARCH_PATHS  = $(inherited)  vendor/tlsuv/include vendor/tlsuv/deps/uv_link_t/include  vendor/mbedtls/include  vendor/llhttp/include

GCC_PREPROCESSOR_DEFINITIONS = $(inherited)  USE_MBEDTLS

WARNING_CFLAGS = $(WARNING_CFLAGS) -Wno-unused-variable  -Wno-missing-prototypes  -Wno-format-nonliteral  -Wno-unused-function -Wno-implicit-int-conversion  -Wno-unreachable-code  -Wno-implicit-fallthrough

// Leaving modules enabled produces weird errors in Xcode, like
//  "definition of 'msg' must be imported from module 'Darwin.POSIX.sys.msg' before it is required"
// Apparently the `struct msg` declared in bio.c gets mixed up with a struct of the same name
// in <sys/msg.h>.
CLANG_ENABLE_MODULES = NO
